:root {
    --color-primary: #0bc2cf;
    --color-secondary: #ffffff;
    --color-background: #b1c2c9;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--color-background);
}

.bg-primary { background-color: var(--color-primary); }
.text-primary { color: var(--color-primary); }
.input-field {
    width: 100%;
    padding: 0.5rem 1rem;
    border: 1px solid #0a0000f6;
    border-radius: 0.5rem;
    transition: all 0.3s;
}
.input-field:focus {
    border-color: var(--color-primary);
    box-shadow: 0 0 0 3px rgba(102,197,204,0.4);
}
.btn-primary {
    background-color: var(--color-primary);
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    font-weight: 600;
    transition: all 0.3s;
}
.btn-primary:hover {
    background-color: #08d308;
}
.loader {
    border: 3px solid #f3f3f3;
    border-top: 3px solid var(--color-primary);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

footer {
    position: absolute;
    bottom: 40px;
    color: rgb(10, 0, 0);
    font-size: 17px;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}
